<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
    <style>
        body{
            color: aqua;
        }
        input{
            border-radius: 60px;
        }
    </style>
</head>
<body>
    <form action="/">
        <input type="text" id="name" required>
        <input type="email" id="email" required>
        <input type="password" id="password" required>
        <button type="submit">submit</button>
    </form>
</body>
</html> -->


<!--  -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Simple Calculator</title>
  <style>
    body {
      text-align: center;
      }
  </style>
</head>
<body>

  <form action="/" method="POST">
    <input type="text" name="boxname" id="x"/>
    <br />
    <button type="submit" id="equal">equal</button>
  </form>

  <div >
    <button type="button" value="1" id="1">1</button>
    <button type="button" value="2" id="2">2</button>
    <button type="button" value="3" id="3">3</button>
    <br />
    <button type="button" value="4" id="4">4</button>
    <button type="button" value="5" id="5">5</button>
    <button type="button" value="6" id="6">6</button>
    <br />
    <button type="button" value="7" id="7">7</button>
    <button type="button" value="8" id="8">8</button>
    <button type="button" value="9" id="9">9</button>
    <br />
    <button type="button" id="op1">+</button>
    <button type="button" id="op2">-</button>
    <button type="button" id="op3">*</button>
  </div>

  <h3>Result: {{result}}</h3>

  <script>
  x=document.getElementById('x')
  for (let i=1; i < 10; i++){
  let text=i.toString()
  button=document.getElementById(text)
  button.onclick=function(event){
    console.log(event.target.value)
    x.value += event.target.value 
    console.log(x.value)
    }
  }
  button=document.getElementById("op1")
  button.onclick=function(event){
    console.log(event.target.value)
    x.value += "+" 
    console.log(x.value)
  }
  
  button=document.getElementById("op2")
  button.onclick=function(event){
    console.log(event.target.value)
    x.value += "-" 
    console.log(x.value)
  }
  
  button=document.getElementById("op3")
  button.onclick=function(event){
    console.log(event.target.value)
    x.value += "*" 
    console.log(x.value)
  }
  
  
  </script>

</body>
</html>
